<header>
    <img src="/static/img/logo@2x.png" width="210px" height="222px" />
</header>


<form action="" id="login-form" method="post" ng-submit="login()">
    <input id="email" name="email" type="email" placeholder="E-mail" ng-model="email" />
    <input id="password" name="password" type="password" placeholder="Şifre" ng-model="password" />
    <input id="submit" type="submit" value="GİRİŞ" />

    <div class="register-text">
        <span>Bir hesabın yok mu?</span>
    </div>

    <a href="#/register" class="register-button">KAYIT OL</a>

</form>